asn1crypto==0.24.0
attrs==18.2.0
Automat==0.7.0
backcall==0.1.0
cffi==1.11.5
constantly==15.1.0
cryptography==2.4.2
cssselect==1.0.3
decorator==4.3.0
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
ipdb==0.11
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.1
lxml==4.2.5
parsel==1.5.1
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.7
ptyprocess==0.6.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
PyDispatcher==2.0.5
Pygments==2.3.0
PyHamcrest==1.9.0
pyOpenSSL==18.0.0
queuelib==1.5.0
Scrapy==1.5.1
service-identity==18.1.0
six==1.11.0
traitlets==4.3.2
Twisted==18.9.0
w3lib==1.19.0
wcwidth==0.1.7
zope.interface==4.6.0
